<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {{ form.csrf_token()}}
    <p> {{ form.name.label}}    {{ form.name}} </p>
    <p>{{ form.book.label }}    {{ form.book}} </p>
    <p>{{ form.submit }}</p>
    {% for  message in get_flashed_messages() %}
        <li>{{message}}</li>
    {% endfor %}
</form>
    <h3>hello world</h3>
    <ul>
        {% for author in authors %}
        <li> {{ author.name }} </li>
        <ul>
            {% for book in author.books %}
                <li>{{ book.name }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</body>
</html>